$font-stack: monospace,
Consolas,
monaco,
Helvetica,
sans-serif;
$text-color: #fff;
$primary-color: #142F43;
$secondary-color: #FFAB4C;
$secondary-alt-color: #FF5F7E;
$third-color: #B000B9;

$special1-color: #9AE66E;